#appointment-time {

    .text-title {
        border-bottom: solid 1px $light-grey;
        margin-bottom: 10px;

        .btn-back {
            background: $darker-grey;
            @include border-radius(50px);
            color: $white;
            display: inline-block;
            text-transform: uppercase;
            width: 115px;
            outline: none;

            position: relative;
            top: 25px;
            left: 20px;

            i.fa-caret-left {
                font-size: 18px;
                margin-right: 15px;
            }
        }

        .container {
            margin-top: 0;

            h4 {
                font-size: 17px;
                color: $greyish-brown;
                text-align: center;
                margin: 15px 0;
            }
        }
    }

    .container {
        .form-group {
            .date {
                input.form-control,
                input.form-control:focus {
                    border-color: $lighter-grey;
                    border-right: transparent !important;
                    color: $greyish-brown;
                    outline: none;
                    @include box-shadow(none);
                }

                .btn-default,
                .btn-default:active:hover,
                .btn-default:active:focus {
                    border-color: $lighter-grey;
                    background-color: transparent !important;
                    @include box-shadow(none);
                    border-left: transparent !important;
                    outline: none !important;

                    i {
                        color: $lighter-grey;
                    }
                }
            }

            .stores {
                width: 100%;

                button {
                    background-color: transparent !important;
                    @include box-shadow(none);
                    border-color: $lighter-grey;

                    text-align: left;

                    .fa.pull-right {
                        color: $lighter-grey;
                        margin-top: 3px;
                    }
                }

                .dropdown-menu {
                    width: 100%;

                    li {
                        margin: 0;
                        padding: 0 10px;

                        h6 {
                            font-size: 12px;

                            span {
                                color: $list-default-color;
                                font-size: 11px;
                            }
                        }

                        p {
                            color: $list-default-color;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        h3 {
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        .well {
            margin: 15px 0;
            padding: 5px;
            overflow: auto;

            .col-xs-6:nth-child(1) {
                padding-right: 5px;
            }

            .col-xs-6:nth-child(2) {
                border-left: solid 1px $lighter-grey;
                padding-left: 5px;
            }

            .col-xs-6 {
                padding: 5px 0;

                h4 {
                    font-size: 14px;
                    margin: 0;
                    padding: 10px 0 10px 0;
                }

                span.time, span.storeadd {
                    color: $list-default-color;
                    font-size: 13px;
                }

                span.badge {
                    background: $default-color;
                    @include border-radius(50%);
                    font-size: 10px;
                    width: 20px;
                    height: 20px;
                    line-height: 21px;
                    padding: 0;
                    margin-right: 5px;
                }

                span.storeadd {
                    position: relative;
                    top: -5px;
                }
            }
        }

        .well:hover {
            @include box-shadow(0 5px 14px 0 rgba(0, 0, 0, 0.2));
        }
    }
}

@media (min-width: 750px) and (max-width: 767px) {
    #appointment-time {
        .text-title {
            border-bottom: solid 1px $light-grey;
            margin-bottom: 20px;

            .container {
                h4 {
                    font-size: 24px;
                    margin: 30px 0;
                }
            }
        }

        .container {
            .row {
                border-bottom: solid 1px $light-grey;
                padding-bottom: 35px;
                margin-bottom: 20px;

                .form-group {
                    .date {
                        position: relative;
                        top: 80px;

                        input.form-control, .btn-default {
                            font-size: 20px;
                            height: 45px;
                        }
                    }

                    .stores {
                        position: relative;
                        top: -50px;

                        button {
                            font-size: 20px;
                            height: 45px;
                        }
                    }
                }
            }

            h3 {
                font-size: 23px;
                margin: 10px 0 20px 0;
                padding: 0;
            }

            .slot-list {
                padding: 0 30px;

                .well {
                    .col-xs-6 {
                        h4 {
                            font-size: 22px;
                            margin: 0;
                            padding: 10px 0 20px 0;
                        }

                        span.time, span.storeadd {
                            font-size: 22px;
                        }

                        span.badge {
                            font-size: 22px;
                            font-weight: normal;
                            width: 36.8px;
                            height: 36.8px;
                            line-height: 36.8px;
                        }

                        span.storeadd {
                            top: 0;
                        }
                    }
                }
            }

            .navigation {
                margin-top: 20px;

                li {
                    margin: 0 5px;
                }
            }

            .angle-nav {
                i {
                    font-size: 45px;
                    margin: 0 5%;
                    width: 54.8px !important;
                    height: 54.9px !important;
                }

                i:first-child {
                    line-height: 50px;
                    padding: 0;
                }

                i:last-child {
                    line-height: 50px;
                    padding: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 969px) {
    #appointment-time {
        .text-title {
            border-bottom: solid 1px $light-grey;
            margin-bottom: 20px;

            .btn-back {
                display: none;
            }

            .container {
                h4 {
                    font-size: 24px;
                    margin: 30px 0;
                }
            }
        }

        .container {
            width: 100%;

            .row {
                border-bottom: solid 1px $light-grey;
                padding-bottom: 35px;
                margin-bottom: 20px;

                .form-group {
                    width: 100%;

                    .date {
                        position: relative;
                        top: 80px;

                        input.form-control, .btn-default {
                            font-size: 20px;
                            height: 45px;
                        }
                    }

                    .stores {
                        position: relative;
                        top: -50px;

                        button {
                            font-size: 20px;
                            height: 45px;
                        }
                    }
                }
            }

            h3 {
                font-size: 23px;
                margin: 10px 0 20px 0;
                padding: 0;
            }

            .slot-list {
                padding: 0 30px;

                .well {
                    .col-xs-6 {
                        h4 {
                            font-size: 22px;
                            margin: 0;
                            padding: 10px 0 20px 0;
                        }

                        span.time, span.storeadd {
                            font-size: 22px;
                        }

                        span.badge {
                            font-size: 22px;
                            font-weight: normal;
                            width: 36.8px;
                            height: 36.8px;
                            line-height: 36.8px;
                        }

                        span.storeadd {
                            top: -13px;
                        }
                    }
                }
            }

            .navigation {
                margin-top: 20px;

                li {
                    margin: 0 5px;
                }
            }

            .angle-nav {
                i {
                    font-size: 45px;
                    margin: 0 5%;
                    width: 54.8px !important;
                    height: 54.9px !important;
                }

                i:first-child {
                    line-height: 50px;
                    padding: 0;
                }

                i:last-child {
                    line-height: 50px;
                    padding: 0;
                }
            }
        }
    }
}

@media (min-width: 970px) {
    #appointment-time {
        .text-title {
            border-bottom: solid 1px $light-grey;
            margin-bottom: 30px;

            .btn-back {
                display: none;
            }
            .container {
                h4 {
                    font-size: 30px;
                    margin: 40px 0;
                }
            }
        }

        .container {
            width: 100%;

            .row {
                border-bottom: solid 1px $light-grey;
                padding-bottom: 15px;
                margin-bottom: 20px;

                .form-group {
                    .date {
                        input.form-control, .btn-default {
                            font-size: 18px;
                            height: 55px;
                        }
                    }

                    .stores {
                        button {
                            font-size: 18px;
                            height: 55px;
                        }
                    }
                }
            }

            h3 {
                font-size: 23px;
                margin: 10px 0 20px 0;
                padding: 0;
            }

            .slot-list {
                padding: 0 30px;

                .well {
                    .col-xs-6 {
                        h4 {
                            font-size: 22px;
                            margin: 0;
                            padding: 10px 0 20px 0;
                        }

                        span.time, span.storeadd, span.lbl-slot {
                            color: $list-default-color;
                            font-size: 22px;
                        }

                        span.badge {
                            font-size: 22px;
                            font-weight: normal;
                            width: 36.8px;
                            height: 36.8px;
                            line-height: 36.8px;
                        }

                        span.storeadd {
                            top: -13px;
                        }
                    }
                }
            }

            .navigation {
                margin-top: 20px;

                li {
                    margin: 0 5px;
                }
            }

            .angle-nav {
                i {
                    border-color: $greyish-brown;
                    color: $greyish-brown;
                    font-size: 45px;
                    margin: 0 5%;
                    width: 54.8px !important;
                    height: 54.9px !important;
                }

                i.active {
                    border-color: $default-color;
                    color: $white;
                }

                i:first-child {
                    line-height: 50px;
                    padding-right: 2px;
                }

                i:last-child {
                    line-height: 50px;
                    padding-left: 5px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #appointment-time {
        .text-title {
            border-bottom: solid 1px $light-grey;
            margin-bottom: 15px;

            .btn-back {
                display: block;
                position: absolute;
                top: 85px;
            }
            .container {
                h4 {
                    font-size: 20px;
                    margin: 30px 0;
                }
            }
        }

        .container {
            width: 100%;

            .row.center {
                padding: 0 10%;
            }

            .row {
                border-bottom: solid 1px $light-grey;
                padding-bottom: 15px;
                margin-bottom: 15px;

                .form-group {
                    .date {
                        input.form-control, .btn-default {
                            font-size: 13px;
                            height: 35px;
                        }
                    }

                    .stores {
                        button {
                            font-size: 13px;
                            height: 35px;
                        }
                    }
                }
            }

            h3 {
                color: $list-default-color;
                font-size: 13px;
                margin: 10px 0;
                padding: 0;
            }

            .col-xs-3.date-lbl {
                margin-left: 25px;
            }

            .col-xs-3.time-lbl {
                margin-left: -10px;
            }

            .col-xs-3.availability-lbl {
                margin-left: -30px;
            }

            .col-xs-3.location-lbl {
                margin-left: -15px;
            }

            .slot-list {
                padding: 0 30px;

                .well {
                    .col-xs-3 {
                        border-left: solid 1px $lighter-grey !important;
                        padding: 0;
                        padding-left: 5px;
                        
                        h4 {
                            display: inline-block;
                            font-size: 13px;
                            height: 17px;
                            line-height: 17px;
                        }

                        span.time, span.storeadd {
                            display: inline-block;
                            color: $list-default-color;
                            font-size: 13px;
                            height: 35px;
                            line-height: 35px;
                        }

                        span.badge {
                            @include border-radius(50%);
                            background: $default-color;
                            font-size: 12px;
                            font-weight: normal;
                            min-width: 23px;
                            height: 23px;
                            line-height: 18px;
                            margin-right: 5px;
                            padding-left: 4.5px;
                            margin-top: -5px;
                            text-align: center;
                            padding: 3px 5px;
                        }

                        span.lbl-slot {
                            color: $list-default-color;
                        }
                        span.storeadd {
                            display: inline-block;
                            height: 35px;
                            line-height: 35px;
                        }
                    }
                }

                .well:focus, .well.focus {
                    @include box-shadow(0 5px 14px 0 rgba(0, 0, 0, 0.2));

                    h4 {
                        color: $default-color;
                    }

                    span {
                        color: $greyish-brown !important;
                    }

                    span.badge {
                        color: $white !important;
                    }
                }

                .col-xs-3.first {
                    border-left: none !important;
                    padding-left: 0;
                    padding-right: 5px;
                }
            }

            .navigation {
                margin-top: 0;

                li {
                    margin: 0 5px;
                }
            }

            .angle-nav {
                margin: -30px 0;
                padding: 0;

                i, i.active {
                    background: none;
                    border: none;
                    color: $darker-grey;
                    font-size: 80px;
                }

                i:hover {
                    border: none;
                    color: $darker-grey;
                }

                i:first-child {
                    position: relative;
                    left: -470px;
                    top: -205px;
                }

                i:last-child {
                    position: relative;
                    left: 470px;
                    top: -205px;
                }
            }
        }
    }

    footer {
        border-top: none !important;
        border-bottom: none !important;
        margin-top: -20px;

        .language {
            li {
                cursor: pointer;
                display: inline-block;
                width: 100%;
            }
        }
    }
}


@media (min-width: 1400px) {
    #appointment-time {
        .container {
            .row.center {
                padding: 0 23%;
            }
        }
    }
}