html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    letter-spacing: 0.5px;    
}

header {
    background: $default-color;
    height: 60px;

    .logo {
        height: 30px;
        margin: 15px auto;
    }

    span{
        display: inline-block;
        height: 40px; 
        width: 40px;
        opacity: 0.6;
        vertical-align: middle;

        position: relative;        
    } 

    label {
        color: $darker-grey;
        font-size: 11.6px;
        margin: 0 15px;
        text-transform: uppercase;

        span {
            line-height: 40px;
        }
    }

    div.cancel {
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .close-icon {
        @include border-radius(50px);
        background: $darker-grey;
    }

    .close-icon:before, 
        .close-icon:after {
        background: $default-color;
        @include border-radius(10px);
        content: ''; 
        display: block; 
        height: 2px; 
        width: 22px; 

        position:absolute; 
        top: 19px; 
        left: 9px; 

        @include transform(-45deg);
    }

    .close-icon:after{
        @include transform(45deg);
    }
}

footer {
    border-top: solid 1px $light-grey;
    border-bottom: solid 1px $light-grey;
    min-height: 49px;
    padding: 8px 0;

    img {
        height: 25px;
    }

    img.footer-logo {
        margin-bottom: 25px;
    }

    span {
        color: $greyish-brown;
        display: block;
        font-size: 10px;
        margin-left: 0;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .language {
        background: rgba(204, 204, 204, 0.6);
        @include border-radius(2.2px);
        width: 215px;
        padding: 10px;
        margin: 30px 0 80px 0;

        p {
            color: $greyish-brown;
            font-size: 10px;
        }

        button, button.active, button:focus {
            background: $white;
            font-size: 10px;
            width: 196px;
            text-align: left;
            padding: 3px 5px;

            span.caret {
                position: absolute;
                right: 10px;
                top: 14px;
            }
            
            img {
                margin-right: 5px;
            }
        }

        .btn-group {
            button:hover {
                background: $white;
            }
        }

        .btn-default.active.focus, 
        .btn-default.active:focus, 
        .btn-default.active:hover,
        .btn-default:active.focus,
        .btn-default:active:focus,
        .btn-default:active:hover,
        .open>.dropdown-toggle.btn-default.focus,
        .open>.dropdown-toggle.btn-default:focus,
        .open>.dropdown-toggle.btn-default:hover {
            color: $greyish-brown;
            background-color: $white;
            border-color: $lighter-grey;
            @include box-shadow(none);
        }

        ul { 
            width: 196px;
            padding: 0;

            li {
                font-size: 10px;
                transition: all 0.5s ease;
                padding:  3px 5px;
                border-bottom: solid 1px $lighter-grey;

                img {
                    float: left;
                    margin-right: 5px;
                }

                span {
                    line-height: 25px;
                    margin-bottom: 0;
                }
            }
            
            li:hover {
                padding-left: 20px;
            }
            
            li:last-child {
                border-bottom: none;
            }
            
        }
    }

}

.navigation {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;

    li {
        background-color: $lighter-grey-default;
        @include border-radius(15px);
        border: solid 1px $darker-grey;
        cursor: pointer;
        display: inline-block;
        padding: 4px;

        position: relative;

        height: 10px;
        margin: 10px 10px 0px 0px;
        width: 10px;
        vertical-align:bottom;
    }

    li.active {
        background-color: $lighter-grey-active;
        border: solid 1px transparent;
    }
}

.angle-nav {
    text-align: center;

    i {
        background: $lightest-grey;
        border: solid 2.1px $greyish-color;
        @include border-radius(50%);
        color: $greyish-color;
        display: inline-block;
        width: 43px;
        height: 43px;
        line-height: 40px;
        text-align: center;
        margin: 0 15% 6% 15%;
        padding-left: 20px;
    }

    i:first-child {
        padding-left: 0;
    }

    i:last-child {
        padding-left: 7px;
    }

    i.active {
        background: $default-color;
        border-color: $default-color;
        color: $white;
    }
}

.txt-red, .txt-active {
    color: $default-color !important;
}

.unavailable {
    color: $light-grey;
}

.available {
    color: $greyish-brown;
}

.well {
    padding: 10px 5px;
    width: 100%;
}

.well.default {
    background-color: $darker-grey;
    border: solid 1px $lighter-grey;
    @include border-radius(3.5px);
    color: $light-grey;
    display: inline-block;
    font-size: 12.7px;

    min-height: 64.3px;
    line-height: 64.3px;
    opacity: 0.6;
}

.well.default:hover {
    border: solid 1px  rgba(255,255,255,0.5);
}

.well.white {
    background: $white;
    @include border-radius(3.5px);
    border: solid 0.7px $lighter-grey;
    box-shadow: none;

    min-height: 42.3px;
}

.loading {
    color: $greyish-color;
    font-size: 35px;
    height: 36px;
    width: 36px;
    margin-top: -62px;
    margin-left: -17px;

    position: absolute;
    left: 50%;
    top: 50%;
}

@media (max-width: 768px) {
    header {
        .logo {
            height: 30px;
            margin: 15px auto;
        }

        label {
            font-size: 15px;
            font-weight: normal;
        }

        .close-icon:before, .close-icon:after {
            background: $default-color !important;
            top: 20px !important;
            left: 10px !important;
            height: 2px !important;
        }
    }

    footer {
        border-bottom: none;
        
        .text-center {
            span {
                color: $greyish-brown !important;
                margin: 5px 0;
                text-transform: capitalize;
            }
        }
    }
}

@media (min-width: 970px) {
    header {
        div.cancel {
            left: 20px;
        }
        
        label {
            font-size: 15.5px;
        }
    }    
}