$azure: #00adef;

$black: #000000;
$bg-list: #f6f7f9;
$list-default-color: #8e8e8e;

$default-color: #b8222f;
$dark-grey: #979797;
$darker-grey: #cccccc;

$green: #0f9d58;
$grey: #bbbbbb;
$greyish: #d9d9d9;
$greyish-color: #dedede;
$greyish-white: #f7f7f7;
$greyish-brown: #4a4a4a;

$nav-default: #e1e1e1;

$light-red: #f3a69e;
$light-grey: #9b9b9b;
$lighter-red: #f9d3cf;
$error-red: #ee3123;
$lighter-grey: #d1d1d1;
$lighter-green: #58bc5f;
$lighter-grey-default: #e5e5e5;
$lighter-grey-active: #666666;
$lightest-grey: #f8f8f8;

$orange: #e74c3c;

$white: #ffffff;

$yellow: #f18e2c;