/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu/Ubuntu-R.ttf"); }
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  font-family: Ubuntu, "times new roman", times, roman, serif;
  letter-spacing: 0.5px; }

header {
  background: #b8222f;
  height: 60px; }
  header .logo {
    height: 30px;
    margin: 15px auto; }
  header span {
    display: inline-block;
    height: 40px;
    width: 40px;
    opacity: 0.6;
    vertical-align: middle;
    position: relative; }
  header label {
    color: #cccccc;
    font-size: 11.6px;
    margin: 0 15px;
    text-transform: uppercase; }
    header label span {
      line-height: 40px; }
  header div.cancel {
    position: absolute;
    top: 10px;
    left: 15px; }
  header .close-icon {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    background: #cccccc; }
  header .close-icon:before,
  header .close-icon:after {
    background: #b8222f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    content: '';
    display: block;
    height: 2px;
    width: 22px;
    position: absolute;
    top: 19px;
    left: 9px;
    transform: -45deg;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); }
  header .close-icon:after {
    transform: 45deg;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); }

footer {
  border-top: solid 1px #9b9b9b;
  border-bottom: solid 1px #9b9b9b;
  min-height: 49px;
  padding: 8px 0; }
  footer img {
    height: 25px; }
  footer img.footer-logo {
    margin-bottom: 25px; }
  footer span {
    color: #4a4a4a;
    display: block;
    font-size: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    text-transform: capitalize; }
  footer .language {
    background: rgba(204, 204, 204, 0.6);
    border-radius: 2.2px;
    -webkit-border-radius: 2.2px;
    -moz-border-radius: 2.2px;
    -ms-border-radius: 2.2px;
    width: 215px;
    padding: 10px;
    margin: 30px 0 80px 0; }
    footer .language p {
      color: #4a4a4a;
      font-size: 10px; }
    footer .language button, footer .language button.active, footer .language button:focus {
      background: #ffffff;
      font-size: 10px;
      width: 196px;
      text-align: left;
      padding: 3px 5px; }
      footer .language button span.caret, footer .language button.active span.caret, footer .language button:focus span.caret {
        position: absolute;
        right: 10px;
        top: 14px; }
      footer .language button img, footer .language button.active img, footer .language button:focus img {
        margin-right: 5px; }
    footer .language .btn-group button:hover {
      background: #ffffff; }
    footer .language .btn-default.active.focus,
    footer .language .btn-default.active:focus,
    footer .language .btn-default.active:hover,
    footer .language .btn-default:active.focus,
    footer .language .btn-default:active:focus,
    footer .language .btn-default:active:hover,
    footer .language .open > .dropdown-toggle.btn-default.focus,
    footer .language .open > .dropdown-toggle.btn-default:focus,
    footer .language .open > .dropdown-toggle.btn-default:hover {
      color: #4a4a4a;
      background-color: #ffffff;
      border-color: #d1d1d1;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    footer .language ul {
      width: 196px;
      padding: 0; }
      footer .language ul li {
        font-size: 10px;
        transition: all 0.5s ease;
        padding: 3px 5px;
        border-bottom: solid 1px #d1d1d1; }
        footer .language ul li img {
          float: left;
          margin-right: 5px; }
        footer .language ul li span {
          line-height: 25px;
          margin-bottom: 0; }
      footer .language ul li:hover {
        padding-left: 20px; }
      footer .language ul li:last-child {
        border-bottom: none; }

.navigation {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center; }
  .navigation li {
    background-color: #e5e5e5;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border: solid 1px #cccccc;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    position: relative;
    height: 10px;
    margin: 10px 10px 0px 0px;
    width: 10px;
    vertical-align: bottom; }
  .navigation li.active {
    background-color: #666666;
    border: solid 1px transparent; }

.angle-nav {
  text-align: center; }
  .angle-nav i {
    background: #f8f8f8;
    border: solid 2.1px #dedede;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    color: #dedede;
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 40px;
    text-align: center;
    margin: 0 15% 6% 15%;
    padding-left: 20px; }
  .angle-nav i:first-child {
    padding-left: 0; }
  .angle-nav i:last-child {
    padding-left: 7px; }
  .angle-nav i.active {
    background: #b8222f;
    border-color: #b8222f;
    color: #ffffff; }

.txt-red, .txt-active {
  color: #b8222f !important; }

.unavailable {
  color: #9b9b9b; }

.available {
  color: #4a4a4a; }

.well {
  padding: 10px 5px;
  width: 100%; }

.well.default {
  background-color: #cccccc;
  border: solid 1px #d1d1d1;
  border-radius: 3.5px;
  -webkit-border-radius: 3.5px;
  -moz-border-radius: 3.5px;
  -ms-border-radius: 3.5px;
  color: #9b9b9b;
  display: inline-block;
  font-size: 12.7px;
  min-height: 64.3px;
  line-height: 64.3px;
  opacity: 0.6; }

.well.default:hover {
  border: solid 1px rgba(255, 255, 255, 0.5); }

.well.white {
  background: #ffffff;
  border-radius: 3.5px;
  -webkit-border-radius: 3.5px;
  -moz-border-radius: 3.5px;
  -ms-border-radius: 3.5px;
  border: solid 0.7px #d1d1d1;
  box-shadow: none;
  min-height: 42.3px; }

.loading {
  color: #dedede;
  font-size: 35px;
  height: 36px;
  width: 36px;
  margin-top: -62px;
  margin-left: -17px;
  position: absolute;
  left: 50%;
  top: 50%; }

@media (max-width: 768px) {
  header .logo {
    height: 30px;
    margin: 15px auto; }
  header label {
    font-size: 15px;
    font-weight: normal; }
  header .close-icon:before, header .close-icon:after {
    background: #b8222f !important;
    top: 20px !important;
    left: 10px !important;
    height: 2px !important; }

  footer {
    border-bottom: none; }
    footer .text-center span {
      color: #4a4a4a !important;
      margin: 5px 0;
      text-transform: capitalize; } }
@media (min-width: 970px) {
  header div.cancel {
    left: 20px; }
  header label {
    font-size: 15.5px; } }
#appointment-time .text-title {
  border-bottom: solid 1px #9b9b9b;
  margin-bottom: 10px; }
  #appointment-time .text-title .btn-back {
    background: #cccccc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    width: 115px;
    outline: none;
    position: relative;
    top: 25px;
    left: 20px; }
    #appointment-time .text-title .btn-back i.fa-caret-left {
      font-size: 18px;
      margin-right: 15px; }
  #appointment-time .text-title .container {
    margin-top: 0; }
    #appointment-time .text-title .container h4 {
      font-size: 17px;
      color: #4a4a4a;
      text-align: center;
      margin: 15px 0; }
#appointment-time .container .form-group .date input.form-control,
#appointment-time .container .form-group .date input.form-control:focus {
  border-color: #d1d1d1;
  border-right: transparent !important;
  color: #4a4a4a;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }
#appointment-time .container .form-group .date .btn-default,
#appointment-time .container .form-group .date .btn-default:active:hover,
#appointment-time .container .form-group .date .btn-default:active:focus {
  border-color: #d1d1d1;
  background-color: transparent !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-left: transparent !important;
  outline: none !important; }
  #appointment-time .container .form-group .date .btn-default i,
  #appointment-time .container .form-group .date .btn-default:active:hover i,
  #appointment-time .container .form-group .date .btn-default:active:focus i {
    color: #d1d1d1; }
#appointment-time .container .form-group .stores {
  width: 100%; }
  #appointment-time .container .form-group .stores button {
    background-color: transparent !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-color: #d1d1d1;
    text-align: left; }
    #appointment-time .container .form-group .stores button .fa.pull-right {
      color: #d1d1d1;
      margin-top: 3px; }
  #appointment-time .container .form-group .stores .dropdown-menu {
    width: 100%; }
    #appointment-time .container .form-group .stores .dropdown-menu li {
      margin: 0;
      padding: 0 10px; }
      #appointment-time .container .form-group .stores .dropdown-menu li h6 {
        font-size: 12px; }
        #appointment-time .container .form-group .stores .dropdown-menu li h6 span {
          color: #8e8e8e;
          font-size: 11px; }
      #appointment-time .container .form-group .stores .dropdown-menu li p {
        color: #8e8e8e;
        font-size: 12px; }
#appointment-time .container h3 {
  font-size: 16px;
  margin: 0;
  padding: 0; }
#appointment-time .container .well {
  margin: 15px 0;
  padding: 5px;
  overflow: auto; }
  #appointment-time .container .well .col-xs-6:nth-child(1) {
    padding-right: 5px; }
  #appointment-time .container .well .col-xs-6:nth-child(2) {
    border-left: solid 1px #d1d1d1;
    padding-left: 5px; }
  #appointment-time .container .well .col-xs-6 {
    padding: 5px 0; }
    #appointment-time .container .well .col-xs-6 h4 {
      font-size: 14px;
      margin: 0;
      padding: 10px 0 10px 0; }
    #appointment-time .container .well .col-xs-6 span.time, #appointment-time .container .well .col-xs-6 span.storeadd {
      color: #8e8e8e;
      font-size: 13px; }
    #appointment-time .container .well .col-xs-6 span.badge {
      background: #b8222f;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      font-size: 10px;
      width: 20px;
      height: 20px;
      line-height: 21px;
      padding: 0;
      margin-right: 5px; }
    #appointment-time .container .well .col-xs-6 span.storeadd {
      position: relative;
      top: -5px; }
#appointment-time .container .well:hover {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2); }

@media (min-width: 750px) and (max-width: 767px) {
  #appointment-time .text-title {
    border-bottom: solid 1px #9b9b9b;
    margin-bottom: 20px; }
    #appointment-time .text-title .container h4 {
      font-size: 24px;
      margin: 30px 0; }
  #appointment-time .container .row {
    border-bottom: solid 1px #9b9b9b;
    padding-bottom: 35px;
    margin-bottom: 20px; }
    #appointment-time .container .row .form-group .date {
      position: relative;
      top: 80px; }
      #appointment-time .container .row .form-group .date input.form-control, #appointment-time .container .row .form-group .date .btn-default {
        font-size: 20px;
        height: 45px; }
    #appointment-time .container .row .form-group .stores {
      position: relative;
      top: -50px; }
      #appointment-time .container .row .form-group .stores button {
        font-size: 20px;
        height: 45px; }
  #appointment-time .container h3 {
    font-size: 23px;
    margin: 10px 0 20px 0;
    padding: 0; }
  #appointment-time .container .slot-list {
    padding: 0 30px; }
    #appointment-time .container .slot-list .well .col-xs-6 h4 {
      font-size: 22px;
      margin: 0;
      padding: 10px 0 20px 0; }
    #appointment-time .container .slot-list .well .col-xs-6 span.time, #appointment-time .container .slot-list .well .col-xs-6 span.storeadd {
      font-size: 22px; }
    #appointment-time .container .slot-list .well .col-xs-6 span.badge {
      font-size: 22px;
      font-weight: normal;
      width: 36.8px;
      height: 36.8px;
      line-height: 36.8px; }
    #appointment-time .container .slot-list .well .col-xs-6 span.storeadd {
      top: 0; }
  #appointment-time .container .navigation {
    margin-top: 20px; }
    #appointment-time .container .navigation li {
      margin: 0 5px; }
  #appointment-time .container .angle-nav i {
    font-size: 45px;
    margin: 0 5%;
    width: 54.8px !important;
    height: 54.9px !important; }
  #appointment-time .container .angle-nav i:first-child {
    line-height: 50px;
    padding: 0; }
  #appointment-time .container .angle-nav i:last-child {
    line-height: 50px;
    padding: 0; } }
@media (min-width: 768px) and (max-width: 969px) {
  #appointment-time .text-title {
    border-bottom: solid 1px #9b9b9b;
    margin-bottom: 20px; }
    #appointment-time .text-title .btn-back {
      display: none; }
    #appointment-time .text-title .container h4 {
      font-size: 24px;
      margin: 30px 0; }
  #appointment-time .container {
    width: 100%; }
    #appointment-time .container .row {
      border-bottom: solid 1px #9b9b9b;
      padding-bottom: 35px;
      margin-bottom: 20px; }
      #appointment-time .container .row .form-group {
        width: 100%; }
        #appointment-time .container .row .form-group .date {
          position: relative;
          top: 80px; }
          #appointment-time .container .row .form-group .date input.form-control, #appointment-time .container .row .form-group .date .btn-default {
            font-size: 20px;
            height: 45px; }
        #appointment-time .container .row .form-group .stores {
          position: relative;
          top: -50px; }
          #appointment-time .container .row .form-group .stores button {
            font-size: 20px;
            height: 45px; }
    #appointment-time .container h3 {
      font-size: 23px;
      margin: 10px 0 20px 0;
      padding: 0; }
    #appointment-time .container .slot-list {
      padding: 0 30px; }
      #appointment-time .container .slot-list .well .col-xs-6 h4 {
        font-size: 22px;
        margin: 0;
        padding: 10px 0 20px 0; }
      #appointment-time .container .slot-list .well .col-xs-6 span.time, #appointment-time .container .slot-list .well .col-xs-6 span.storeadd {
        font-size: 22px; }
      #appointment-time .container .slot-list .well .col-xs-6 span.badge {
        font-size: 22px;
        font-weight: normal;
        width: 36.8px;
        height: 36.8px;
        line-height: 36.8px; }
      #appointment-time .container .slot-list .well .col-xs-6 span.storeadd {
        top: -13px; }
    #appointment-time .container .navigation {
      margin-top: 20px; }
      #appointment-time .container .navigation li {
        margin: 0 5px; }
    #appointment-time .container .angle-nav i {
      font-size: 45px;
      margin: 0 5%;
      width: 54.8px !important;
      height: 54.9px !important; }
    #appointment-time .container .angle-nav i:first-child {
      line-height: 50px;
      padding: 0; }
    #appointment-time .container .angle-nav i:last-child {
      line-height: 50px;
      padding: 0; } }
@media (min-width: 970px) {
  #appointment-time .text-title {
    border-bottom: solid 1px #9b9b9b;
    margin-bottom: 30px; }
    #appointment-time .text-title .btn-back {
      display: none; }
    #appointment-time .text-title .container h4 {
      font-size: 30px;
      margin: 40px 0; }
  #appointment-time .container {
    width: 100%; }
    #appointment-time .container .row {
      border-bottom: solid 1px #9b9b9b;
      padding-bottom: 15px;
      margin-bottom: 20px; }
      #appointment-time .container .row .form-group .date input.form-control, #appointment-time .container .row .form-group .date .btn-default {
        font-size: 18px;
        height: 55px; }
      #appointment-time .container .row .form-group .stores button {
        font-size: 18px;
        height: 55px; }
    #appointment-time .container h3 {
      font-size: 23px;
      margin: 10px 0 20px 0;
      padding: 0; }
    #appointment-time .container .slot-list {
      padding: 0 30px; }
      #appointment-time .container .slot-list .well .col-xs-6 h4 {
        font-size: 22px;
        margin: 0;
        padding: 10px 0 20px 0; }
      #appointment-time .container .slot-list .well .col-xs-6 span.time, #appointment-time .container .slot-list .well .col-xs-6 span.storeadd, #appointment-time .container .slot-list .well .col-xs-6 span.lbl-slot {
        color: #8e8e8e;
        font-size: 22px; }
      #appointment-time .container .slot-list .well .col-xs-6 span.badge {
        font-size: 22px;
        font-weight: normal;
        width: 36.8px;
        height: 36.8px;
        line-height: 36.8px; }
      #appointment-time .container .slot-list .well .col-xs-6 span.storeadd {
        top: -13px; }
    #appointment-time .container .navigation {
      margin-top: 20px; }
      #appointment-time .container .navigation li {
        margin: 0 5px; }
    #appointment-time .container .angle-nav i {
      border-color: #4a4a4a;
      color: #4a4a4a;
      font-size: 45px;
      margin: 0 5%;
      width: 54.8px !important;
      height: 54.9px !important; }
    #appointment-time .container .angle-nav i.active {
      border-color: #b8222f;
      color: #ffffff; }
    #appointment-time .container .angle-nav i:first-child {
      line-height: 50px;
      padding-right: 2px; }
    #appointment-time .container .angle-nav i:last-child {
      line-height: 50px;
      padding-left: 5px; } }
@media (min-width: 1200px) {
  #appointment-time .text-title {
    border-bottom: solid 1px #9b9b9b;
    margin-bottom: 15px; }
    #appointment-time .text-title .btn-back {
      display: block;
      position: absolute;
      top: 85px; }
    #appointment-time .text-title .container h4 {
      font-size: 20px;
      margin: 30px 0; }
  #appointment-time .container {
    width: 100%; }
    #appointment-time .container .row.center {
      padding: 0 10%; }
    #appointment-time .container .row {
      border-bottom: solid 1px #9b9b9b;
      padding-bottom: 15px;
      margin-bottom: 15px; }
      #appointment-time .container .row .form-group .date input.form-control, #appointment-time .container .row .form-group .date .btn-default {
        font-size: 13px;
        height: 35px; }
      #appointment-time .container .row .form-group .stores button {
        font-size: 13px;
        height: 35px; }
    #appointment-time .container h3 {
      color: #8e8e8e;
      font-size: 13px;
      margin: 10px 0;
      padding: 0; }
    #appointment-time .container .col-xs-3.date-lbl {
      margin-left: 25px; }
    #appointment-time .container .col-xs-3.time-lbl {
      margin-left: -10px; }
    #appointment-time .container .col-xs-3.availability-lbl {
      margin-left: -30px; }
    #appointment-time .container .col-xs-3.location-lbl {
      margin-left: -15px; }
    #appointment-time .container .slot-list {
      padding: 0 30px; }
      #appointment-time .container .slot-list .well .col-xs-3 {
        border-left: solid 1px #d1d1d1 !important;
        padding: 0;
        padding-left: 5px; }
        #appointment-time .container .slot-list .well .col-xs-3 h4 {
          display: inline-block;
          font-size: 13px;
          height: 17px;
          line-height: 17px; }
        #appointment-time .container .slot-list .well .col-xs-3 span.time, #appointment-time .container .slot-list .well .col-xs-3 span.storeadd {
          display: inline-block;
          color: #8e8e8e;
          font-size: 13px;
          height: 35px;
          line-height: 35px; }
        #appointment-time .container .slot-list .well .col-xs-3 span.badge {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          background: #b8222f;
          font-size: 12px;
          font-weight: normal;
          min-width: 23px;
          height: 23px;
          line-height: 18px;
          margin-right: 5px;
          padding-left: 4.5px;
          margin-top: -5px;
          text-align: center;
          padding: 3px 5px; }
        #appointment-time .container .slot-list .well .col-xs-3 span.lbl-slot {
          color: #8e8e8e; }
        #appointment-time .container .slot-list .well .col-xs-3 span.storeadd {
          display: inline-block;
          height: 35px;
          line-height: 35px; }
      #appointment-time .container .slot-list .well:focus, #appointment-time .container .slot-list .well.focus {
        box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2); }
        #appointment-time .container .slot-list .well:focus h4, #appointment-time .container .slot-list .well.focus h4 {
          color: #b8222f; }
        #appointment-time .container .slot-list .well:focus span, #appointment-time .container .slot-list .well.focus span {
          color: #4a4a4a !important; }
        #appointment-time .container .slot-list .well:focus span.badge, #appointment-time .container .slot-list .well.focus span.badge {
          color: #ffffff !important; }
      #appointment-time .container .slot-list .col-xs-3.first {
        border-left: none !important;
        padding-left: 0;
        padding-right: 5px; }
    #appointment-time .container .navigation {
      margin-top: 0; }
      #appointment-time .container .navigation li {
        margin: 0 5px; }
    #appointment-time .container .angle-nav {
      margin: -30px 0;
      padding: 0; }
      #appointment-time .container .angle-nav i, #appointment-time .container .angle-nav i.active {
        background: none;
        border: none;
        color: #cccccc;
        font-size: 80px; }
      #appointment-time .container .angle-nav i:hover {
        border: none;
        color: #cccccc; }
      #appointment-time .container .angle-nav i:first-child {
        position: relative;
        left: -470px;
        top: -205px; }
      #appointment-time .container .angle-nav i:last-child {
        position: relative;
        left: 470px;
        top: -205px; }

  footer {
    border-top: none !important;
    border-bottom: none !important;
    margin-top: -20px; }
    footer .language li {
      cursor: pointer;
      display: inline-block;
      width: 100%; } }
@media (min-width: 1400px) {
  #appointment-time .container .row.center {
    padding: 0 23%; } }

/*# sourceMappingURL=style.css.map */
